<div id="sidebar-wrapper" [class.collapsed]="isCollapsed">
    <div class="sidebar-header">
        <button class="toggle-btn" (click)="toggleSidebar()">
            <i class="fa fa-bars"></i>
        </button>

    </div>

    <ul class="sidebar-nav">
        <li class="nav-item">
            <a routerLink='myevents' routerLinkActive="active" class="nav-link">
                <i class="fa fa-calendar-check"></i> <!-- My Events -->
                <span class="link-text" *ngIf="!isCollapsed">My Events</span>
            </a>
        </li>

        <li class="nav-item">
            <a routerLink='createEvent' routerLinkActive="active" class="nav-link">
                <i class="fa fa-plus-square"></i> <!-- Add New Event -->
                <span class="link-text" *ngIf="!isCollapsed">Add New Event</span>
            </a>
        </li>
        <li class="nav-item">
            <a routerLink='ProviderDashboard' routerLinkActive="active" class="nav-link">
                <i class="fa fa-chart-area"></i> <!-- My Events Stats -->
                <span class="link-text" *ngIf="!isCollapsed">My Events Stats</span>
            </a>
        </li>
        <li class="nav-item">
            <a routerLink='myPlaces' routerLinkActive="active" class="nav-link">
                <i class="fa fa-building"></i> <!-- My Place -->
                <span class="link-text" *ngIf="!isCollapsed">My Place</span>
            </a>
        </li>

        <li class="nav-item">
            <a routerLink='AddPlace' routerLinkActive="active" class="nav-link">
                <i class="fa fa-plus-circle"></i> <!-- Add New Place -->
                <span class="link-text" *ngIf="!isCollapsed">Add New Place</span>
            </a>
        <li class="nav-item">
            <a routerLink='PlaceDashboard' routerLinkActive="active" class="nav-link">
                <i class="fa fa-chart-line"></i>
                <span class="link-text" *ngIf="!isCollapsed">My Place Stats</span>
            </a>
        </li>





        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fa fa-info"></i> <!-- About -->
                <span class="link-text" *ngIf="!isCollapsed">About</span>
            </a>
        </li>
    </ul>

</div>