.login-wrapper {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
  padding: 3%;
  background: linear-gradient(45deg, #4c2a90, #ac65ee, #4c2a90);
}

.login-container {
  flex: 2;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}
input,
select {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;

  &:focus {
    border-color: #7847eb;
    outline: none;
    box-shadow: 0 0 3px #7847eb99;
  }
}

.login-card {
  width: 100%;
  max-width: 450px;
}

.login-title {
  color: #7847eb;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 1.5rem;
  text-align: center;
}

.form-label {
  font-weight: 600;
  margin-bottom: 6px;
  display: block;
  color: #555;
}

.form-control {
  padding: 12px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.password-wrapper {
  position: relative;
}

.toggle-eye {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #999;
}

.login-button {
  background: linear-gradient(to right, #7847eb, #f472b6);
  border: none;
  padding: 14px;
  border-radius: 6px;
  color: white;
  font-weight: 600;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.login-button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.login-button:hover:enabled {
  opacity: 0.9;
}

.forgot-link,
.signup-link {
  color: #7847eb;
  font-weight: 500;
  text-decoration: none;
}

.signup-link strong {
  color: #f472b6;
}
strong:hover {
  text-decoration: underline;
}

/* Right side */
.right {
  flex: 3;
}

/* Responsive Design */
@media (max-width: 992px) {
  .login-wrapper {
    flex-direction: column;
    order: -1;
  }
}
