<div class="right">

    <div class="services ">
        <div class="service-card">
            <i class="fa-solid fa-ticket-alt"></i>
            <h4>Tickets</h4>
            <p>Book match & concert tickets</p>
        </div>

        <div class="service-card">
            <i class="fa-solid fa-champagne-glasses"></i>
            <h4>Wedding Halls</h4>
            <p>Reserve your dream wedding venue</p>
        </div>

        <div class="service-card">
            <i class="fa-solid fa-utensils"></i>
            <h4>Restaurants & Cafés</h4>
            <p>Reserve your favorite dining spot</p>
        </div>

        <div class="service-card">
            <i class="fa-solid fa-calendar-check"></i>
            <h4>Event Organizing</h4>
            <p>We organize your special events</p>
        </div>

        <div class="service-card">
            <i class="fa-solid fa-store"></i>
            <h4>Place Rental</h4>
            <p>Rent your own restaurant or café</p>
        </div>

        <div class="service-card">
            <i class="fa-solid fa-ticket"></i>
            <h4>Sell Tickets</h4>
            <p>List and sell your event tickets</p>
        </div>
    </div>
    <img src="festival-amico.png" alt="illustration" class="illustration" />
</div>