<div class="container py-5">
    <h2 class="mb-4 text-center fw-bold border-bottom pb-3">
        My Tickets
    </h2>

    <!-- Loading -->
    <div *ngIf="loading" class="text-center py-5">
        <div class="spinner-border text-primary" role="status"></div>
        <p class="mt-3 text-muted fs-5">Loading your tickets...</p>
    </div>

    <!-- No Tickets -->
    <div *ngIf="!loading && tickets.length === 0" class="alert alert-info text-center fs-5">
        <i class="fa fa-info-circle me-2"></i>
        You have no tickets booked.
    </div>

    <!-- Tickets -->
    <div *ngIf="!loading && tickets.length > 0">
        <div class="row g-4 row-cols-1 row-cols-md-2 row-cols-lg-3">
            <div class="col" *ngFor="let ticket of tickets">
                <div class="card h-100 border-0 shadow-sm hover-shadow transition">
                    <div class="card-body">
                        <h5 class="card-title text-dark fw-semibold d-flex justify-content-between align-items-center">
                            {{ ticket.eventName }}
                            <span class="badge bg-secondary">{{ ticket.ticketType }}</span>
                        </h5>

                        <ul class="list-unstyled mt-3 mb-3 text-muted">
                            <li class="mb-2">
                                <i class="fa fa-calendar-alt me-2 "></i>
                                <b>Date:</b> {{ ticket.eventDate | date:'medium' }}
                            </li>
                            <li class="mb-2">
                                <i class="fa fa-users me-2 "></i>
                                <b>Quantity:</b> {{ ticket.quantity }}
                            </li>
                            <!-- <li>
                                <i class="fa fa-coins me-2 "></i>
                                <b>Total:</b> {{ ticket.totalPrice }} EGP
                            </li> -->
                        </ul>

                        <button
                            class="btn btn-primary w-100 mt-3 d-flex align-items-center justify-content-center hover-scale"
                            (click)="downloadTicketPdf(ticket.id)">
                            <i class="fa fa-file-pdf me-2 fs-5"></i> Download PDF
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Error Message -->
    <div *ngIf="errorMsg" class="alert alert-danger mt-4 text-center fs-5">
        <i class="fa fa-exclamation-triangle me-2"></i>{{ errorMsg }}
    </div>
</div>