<nav class="navbar navbar-expand-lg custom-navbar">
    <div class="container">
        <!-- Text Logo -->
        <a class="navbar-brand text-logo" href="#">Event <span>Hub</span></a>

        <!-- Toggler for small screens -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <!-- Common for all -->
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home">Home</a>
                </li>
                <!-- Admin-specific links -->
                <li *ngIf="role?.includes( 'Admin')" class="nav-item">
                    <a class="nav-link" routerLink="/admin/dashboard">Admin Dashboard</a>
                </li>



                <!-- Service Provider  links -->
                <li *ngIf="role?.includes('Service Provider')" class="nav-item">
                    <a class="nav-link" routerLink="/dashboard/myevents">My Dashboard</a>
                </li>

                <!-- User-specific links -->

                <li *ngIf="role?.includes('User')" class="nav-item">
                    <a class="nav-link" routerLink="/User/MyTickets">My Tickets</a>
                </li>
                <li *ngIf="role?.includes('User')" class="nav-item">
                    <a class="nav-link" routerLink="/User/Checkout"> My Cart</a>
                </li>

                <li *ngIf="role?.includes('User')" class="nav-item    ">
                    <a class="nav-link" routerLink="/User/becomeprovider">BP</a>
                </li>

                <li *ngIf="isLoggedIn" class="nav-item">
                    <a routerLink="/login" class="nav-link pointer text-danger" (click)="logout()">Logout</a>
                </li>


            </ul>
        </div>
    </div>
</nav>