:host {
  display: block;
  height: 100vh;
  margin: 0;
  background: linear-gradient(135deg, #7847eb, #38bdf8);
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.register-title {
  color: #7847eb;
  font-size: 1.75rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.5rem;
}

.register-card {
  background-color: #ffffffb2;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 600px;
  border: none;
}
.Reg-btn {
  background-color: #7847eb;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.75rem;
  border: none;
  border-radius: 0.375rem;
  transition: background-color 0.3s ease-in-out;
}
.Reg-btn:hover:not(:disabled) {
  background-color: #6935da;
}
.login-link {
  color: #7847eb;
  text-decoration: none;
  font-size: 0.9rem;
}
